.main {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .scammers__search {
        display: flex;
        justify-content: space-between;

        > :last-child {
            width: 300px;
        }
    }

    .scammers__empty {
        width: 100%;
        height: calc(100vh - 350px);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .scammers__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, 300px);
        justify-content: center;
        grid-gap: 30px;

        .scammers__card {
            width: 300px;
            
            > img {
                height: 300px;
                width: 100%;
                object-fit: cover;
            }

            .scammers__card-content {
                padding: 20px;
                display: flex;
                flex-direction: column;
                gap: 10px;

                > p {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 3; 
                            line-clamp: 3; 
                    -webkit-box-orient: vertical;
                }

                > a > * {
                    width: 100%;
                }
            }
        }
    }
}